

<div class="container" ng-init="new_todo=''; new_todo_field=false; refresh();">
	<div class="header">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li role="presentation"><button class="btn btn-success" ng-click="logout()">Logout</button></li>
			</ul>
		</nav>
		<h3 class="text-muted">To-Do App</h3>
	</div>
	<div class="col-xs-3">
		<h2>Others Online</h2>
		<p>Online contributors: {{ users.length }}</p>
		<ul class="list-group">
			<li ng-repeat-start="user in users" ng-repeat-end class="list-group-item">
				{{ user }}
			</li>
		</ul>
	</div>
	<div class="col-xs-9">
		<div class="col-xs-6">
			<h2>To-Do List</h2>
		</div>
		<div class="col-xs-3">
			<button type="button" class="btn btn-default" ng-click="refresh()">Refresh</button>
		</div>
		<div class="col-xs-3">
			<button type="button" class="btn btn-default" ng-click="new_todo_action()">New To-Do</button>
		</div>
		<div class="col-xs-12">

			<ul class="list-group">
				<li ng-repeat-start="todo in to_dos track by $index" ng-repeat-end class="list-group-item">
					<span class="badge" >{{ todo["user"] }}</span>
					{{ todo["text"] }}
				</li>
			</ul>

			<form name="todoForm" ng-show="new_todo_field" ng-submit="send_new_todo(new_todo)">
				<div class="form-group">
					<input class="form-control" ng-model="new_todo" placeholder="New To-Do"></input>
				</div>
			</form>

		</div>
	</div>
</div>